<section class="section-container">
    <section class="nav" style="">
        <div class="logotipo" style="height: 40px; ">
            <img src="assets/imagens/logo.png" alt="">
        </div>
        <div class="nav-rigth" style="display:flex; " >
            <div class="ipt-container" style="display: flex; gap: 15px;">
                <div class="ipt" >
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" style="height:8px;">
                </div>
            
                    <i class="fa-solid fa-power-off" style="height: 30px;"></i>
                
            </div>
            
        </div>

    </section>
    <section class="menu-tela" style="display: flex; ">
        <aside class="menu" >
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </aside>

        <aside class="tela" style=" height: 1500px;"></aside>

        
    </section>
    <button type="button" class="btn btn-primary">
        Notifications <span class="badge text-bg-secondary">4</span>
    </button>
</section>




