<section class="section-container">
    <section class="nav" style="">
        <div class="logotipo" style="height: 40px; ">
            <img src="assets/imagens/logo.png" alt="">
        </div>
        <div class="nav-rigth" style="display:flex; ">
            <div class="ipt-container" style="display: flex; gap: 15px;">
                <div class="ipt">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search by title, content, or tags..." style="height:8px;">
                </div>

                <i class="fa-solid fa-power-off" style="height: 30px;"></i>

            </div>

        </div>
    </section>



    <section class="menu-tela" style="display: flex; ">
        <aside class="menu-notas" style="">
            <div class="btn-create-notas">
                <button type="button" class="btn btn-primary" style="margin: 25px 0;">
                    Notifications <span class="badge text-bg-secondary">4</span>
                </button>
            </div>
            <div class="card-container">
                <div class="card-img"><img src="assets/imagens/logo.png"></div>
                <div class="card-txt">
                    <div class="card-title">
                        <h6>create page notes</h6>
                    </div>
                    <div class="card-bts">
                      <div class="">
                          <span>travel</span>

                      </div>
                      <div class="">
                          <span>travel</span>

                      </div>
                      
                    </div>
                    <div class="card-date">
                        25/09/2025
                    </div>
                </div>
            </div>

        </aside>

        <aside class="tela">


        </aside>


    </section>


</section>


