.darkmode-btn {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: white;
    border-radius: 1000px;
    border:none;
}

::ng-deep body.dark-mode .fundo {

    background-color: black !important;
  
  }
  
::ng-deep body.dark-mode .imagem-central {

    background-color: #191919 !important;
  
  }

  ::ng-deep body.dark-mode .bem-vindo {

    color: white !important;
  
  }

  ::ng-deep body.dark-mode .primeira-imagem {

    color: white !important;
  
  }

  ::ng-deep body.dark-mode .segunda-imagem {

    color: white !important;
  
  }

  ::ng-deep body.dark-mode .terceira-imagem {

    color: white !important;
  
  }

  ::ng-deep body.dark-mode .quarta-imagem {

    color: white !important;
  
  }

