<section class="section-container">
    <section class="nav" style="height:300px;">
        <div class="logotipo">
            <img src="assets/imagens/logo.png" alt="">
        </div>
        <div class="nav-rigth">
            <div class="ipt">
                <input type="text">
            </div>
            <div class="logout">
                <i class="fa-solid fa-power-off"></i>
            </div>
        </div>

    </section>
    <section class="menu-tela" style="display: flex; ">
        <aside class="menu" style="height:300px;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </aside>

        <aside class="tela" style="background-color: red; height: 1500px;"></aside>

        <button type="button" class="btn btn-primary">
            Notifications <span class="badge text-bg-secondary">4</span>
        </button>

    </section>
</section>